[ius-testing]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Testing
#baseurl=https://dl.iuscommunity.org/pub/ius/testing/{{ ius_archive }}/{{ ansible_distribution_major_version }}/$basearch
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo={{ ius_repo }}-testing&arch=$basearch&protocol=http
failovermethod=priority
enabled={{ '1' if ius_repository_ius_testing|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-testing-debuginfo]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Testing Debug
#baseurl=https://dl.iuscommunity.org/pub/ius/testing/{{ ius_archive }}/{{ ansible_distribution_major_version }}/$basearch/debuginfo
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo={{ ius_repo }}-testing-debuginfo&arch=$basearch&protocol=http
failovermethod=priority
enabled={{ '1' if ius_repository_ius_testing_debuginfo|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-testing-source]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Testing Source
#baseurl=https://dl.iuscommunity.org/pub/ius/testing/{{ ius_archive }}/{{ ansible_distribution_major_version }}/SRPMS
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo={{ ius_repo }}-testing-source&arch=source&protocol=http
failovermethod=priority
enabled={{ '1' if ius_repository_ius_testing_source|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY
