[ius-dev]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Dev
#baseurl=https://dl.iuscommunity.org/pub/ius/development/{{ ius_archive }}/{{ ansible_distribution_major_version }}/$basearch
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo={{ ius_repo }}-dev&arch=$basearch&protocol=http
failovermethod=priority
enabled={{ '1' if ius_repository_ius_dev|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-dev-debuginfo]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Dev Debug Info
#baseurl=https://dl.iuscommunity.org/pub/ius/development/{{ ius_archive }}/{{ ansible_distribution_major_version }}/$basearch/debuginfo
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo={{ ius_repo }}-dev-debuginfo&arch=$basearch&protocol=http
failovermethod=priority
enabled={{ '1' if ius_repository_ius_dev_debuginfo|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-dev-source]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Dev Source
#baseurl=https://dl.iuscommunity.org/pub/ius/development/{{ ius_archive }}/{{ ansible_distribution_major_version }}/SRPMS
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo={{ ius_repo }}-dev-source&arch=source&protocol=http
failovermethod=priority
enabled={{ '1' if ius_repository_ius_dev_source|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY
