[ius-archive]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Archive
#baseurl=https://dl.iuscommunity.org/pub/ius/archive/Redhat/{{ ansible_distribution_major_version }}/$basearch
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo=ius-el{{ ansible_distribution_major_version }}-archive&arch=$basearch&protocol=http
failovermethod=priority
{% if ius_repos.ius_archive is defined %}
{%   if ius_repos.ius_archive %}
enabled=1
{%   else %}
enabled=0
{%   endif %}
{% else %}
enabled=0
{% endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-archive-debuginfo]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Archive Debug
#baseurl=https://dl.iuscommunity.org/pub/ius/archive/Redhat/{{ ansible_distribution_major_version }}/$basearch/debuginfo
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo=ius-el{{ ansible_distribution_major_version }}-archive-debuginfo&arch=$basearch&protocol=http
failovermethod=priority
{% if ius_repos.ius_archive_debuginfo is defined %}
{%   if ius_repos.ius_archive_debuginfo %}
enabled=1
{%   else %}
enabled=0
{%   endif %}
{% else %}
enabled=0
{% endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-archive-source]
name=IUS Community Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch - Archive Source
#baseurl=https://dl.iuscommunity.org/pub/ius/archive/Redhat/{{ ansible_distribution_major_version }}/SRPMS
mirrorlist=https://mirrors.iuscommunity.org/mirrorlist?repo=ius-el{{ ansible_distribution_major_version }}-archive-source&arch=source&protocol=http
failovermethod=priority
{% if ius_repos.ius_archive_source is defined %}
{%   if ius_repos.ius_archive_source %}
enabled=1
{%   else %}
enabled=0
{%   endif %}
{% else %}
enabled=0
{% endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY
